- action_card = ActionCard.new do
  - input :database, :select, "Database code", nil, :select_options => MutationEnrichment::DATABASES
  - input :cutoff, :float, "Pvalue cutoff", 0.1
    
- action_card.description do
  :markdown

    This analysis finds functional classes that affect a proportion of samples larger than expected. The expected number of samples
    with genes affected in each class is simulated by repeatedly changing the locations of the mutations of each sample.

- action_card.require :database, :cutoff
= action_card_render action_card do

  = table :table_id => "Sample enrichment (#{ database }) for #{ entity }", :page => "1~p-value" do
    - matches = entity.subset(:sample_mutations)
    - mutations = matches.tsv.to_double.reorder "Sample", ["Genomic Mutation"], :merge => true
    - tsv = MutationEnrichment.job(:sample_pathway_enrichment, entity, :organism => entity.organism, :mutations => mutations, :baseline => :pathway_base_counts, :database => database, :cutoff => cutoff).clean.run
    - tsv.select("p-value"){|p| p.to_s.to_f < cutoff.to_f}
 
